@font-face {
  font-family: dyslexicFont;
  src: url(openDyslexic/OpenDyslexic-Regular.woff2) format('woff2'),
       url(openDyslexic/OpenDyslexic-Regular.woff) format('woff');
}
@font-face {
  font-family: dyslexicFont;
  src: url(openDyslexic/OpenDyslexic-Bold.woff2) format('woff2'),
       url(openDyslexic/OpenDyslexic-Bold.woff) format('woff');
  font-weight: bold;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  max-width: 100%;

}

html {
  visibility:hidden;
}

:root {
  --fontFam: "josefin-sans", Times, sans;
  --navHeight: 60px;
}
nav{
  position: fixed;
  top: 0;
  background: #ff8a47;
  width: 100%;
  height: var(--navHeight);
}

ul {
  float: left;
  height: calc(var(--navHeight));
  overflow: hidden;
}

nav ul li {
  display: inline-block;
  height: calc(var(--navHeight));
}

nav ul li a{
  font-size: calc(var(--navHeight) / 2);
  color: black;
  padding-top: calc(var(--navHeight) / 4);
  padding-bottom: calc(var(--navHeight) / 4);
  padding-left: 10px;
  padding-right: 10px;
}

li a:hover {
  background-color: #de723d;
  transition: .5s;
}

.checkbtn{
  font-size: calc(var(--navHeight) / 2);
  color: black;
  float: left;
  line-height: var(--navHeight);
  margin-left: calc(var(--navHeight) / 4);
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 600px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffac79;
    top: var(--navHeight);
    z-index: 7;
    right: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 20px;
  }
  nav ul li a{
    font-size: 20px;
  }
  li a:hover{
    background: #de723d;
  }
  #check:checked ~ ul{
    right: 0;
  }
}

body {
    background-color: #f4eadd;
    font-family: var(--fontFam);
    color: black;
    --btnFont: dyslexicFont;
}

embed{
  width: 90%;
  height: 90vh;
  display: block;
  margin: 0 auto;
}

h1{
    padding-top: 60px;
    font-weight: bold;
    font-size: calc(30px + 1.5vw);
    color: black;
    text-align: center;
    font-weight: normal;
    float: right;
    padding-right: 10%;
    padding-left: 70%;
}

h2{
  margin: 15px;
  font-weight: lighter;
  font-size: calc(20px + 1.5vw);
  color: black;
  padding-top: 100px;
  padding-right: 25px;
  width: 100%;
}

p{
  padding-left: 5%;
  padding-right: 5%;
  font-size: calc(15px + 1.5vw);
  color: black;
}

.lnk{
  padding-left: 5%;
  padding-right: 5%;
  font-size: calc(15px + 1.5vw);
  color: black;
}

figure{
  display: block;
  border: 0;
  margin: 0;
  overflow: hidden;
  width: min(90%, calc(520px - 15%));
  text-align:center;
}

img{
  width: 100%;
}

figcaption{
  font-size: 1.3vw;
}

.column{
  display: inline-block;;
  flex: 25%;
  padding: 0.5vw;
  align-items: center;
}

.row {
  text-align:center;
}

.dyslexia{
  --fontFam: dyslexicFont;
  --btnFont: "josefin-sans", Times, sans;
}

.btn {
  font-size: 15px;
  line-height: 1em;
  padding-top: 0.05vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-bottom: 0.3vw;
  margin-right: 10%;
  background: #ffac79;
  color: #3f3f3f;
  border-radius: 15px;
  border: none;
  width: 80px;
  height: 40px;
  word-break: keep-all;
  float: right;
  font-family: var(--btnFont);
}

.proj{
  margin-right: 7%;
  padding-left: 0;
}

.btn:hover{
  background: #ff8a47;
  cursor: pointer;
}
